// Var ref: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

/*-- scss:defaults --*/

$white: #ffffff !default;
$gray-300: #eaecec !default;
$gray-500: #bbbdbf !default;
$gray-700: #343535 !default;
$black: #050505 !default;

$blue: #2e59a9 !default;
$brown: #574a43 !default;
$orange: #e36c2a !default;

$body-bg: $white !default;
$body-color: $black !default;

$link-color: $blue !default;
$link-hover-decoration: none !default;

$text-muted: $gray-500 !default;

$navbar-bg: $white !default;
$navbar-fg: $black !default;
$navbar-link: $black !default;

/*-- scss:text --*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

h1.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

h3.no-anchor.listing-title {
  font-family: "Lora", serif;
  font-weight: 700;
}

p {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
}

span.menu-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  &:hover {
    color: rgba($black, 0.8);
  }
}

.navbar-nav .nav-link.active > span.menu-text {
  color: rgba($black, 1);
}

.nav-link:hover {
  color: rgba($black, 0.8) !important;
}

#quarto-announcement .quarto-announcement-content p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

#quarto-announcement {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

/*-- scss: blog --*/

main#quarto-document-content.content {
  max-width: 680px;
  justify-content: center;
  margin: 0 auto;
}

#quarto-content.page-columns main.column-page,
#quarto-content.page-columns main.column-page-right,
#quarto-content.page-columns main.column-page-left {
  max-width: 1440px;
}

#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar {
  line-height: 1.5;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.8rem;
  // line-height: 1 !important;
}

a.uri.external {
  max-width: 680px;
  // These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a:hover {
  color: rgba($blue, 0.9);
}

/*-- scss: blog --*/

div.quarto-post .thumbnail img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

div.quarto-post .body {
  margin-top: 1.1em;
}

div.quarto-post .metadata {
  padding-top: 1em;
}

div.listing-categories {
  margin-top: 0.6em;
}

div.quarto-post.image-right {
  margin-bottom: 0em;
}

.navbar-toggler-icon {
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0.2em !important;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

@media (max-width: 767.98px) {
  .navbar .aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
    margin-bottom: 0.2em;
  }
}

.sidebar.margin-sidebar {
  grid-column: page-end / screen-end-inset;
}

@media (max-width: 767.98px) {
  .quarto-post .thumbnail {
    order: 1 !important;
  }
}

@media (max-width: 767.98px) {
  div.quarto-post .body {
    margin-top: 0 !important;
  }
}

@media (max-width: 767.98px) {
  div.quarto-post .metadata {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 767.98px) {
  div.navbar-container.container-fluid {
    padding-left: 0.4em;
  }
}

@media (min-width: 767.98px) {
  #quarto-header > nav {
    padding-top: 1.5em;
  }
}

/*-- scss: hover category --*/

div.quarto-post .listing-categories .listing-category {
  color: $blue !important;
  border: solid 1px $blue !important;

  &:hover {
    background-color: rgba($blue, 0.2);
  }
}

.quarto-grid-item .listing-categories .listing-category {
  color: $blue !important;
  border: solid 1px $blue !important;

  &:hover {
    background-color: rgba($blue, 0.2);
  }
}

.quarto-listing-category .category {
  // padding-bottom: 5px;

  &:hover {
    color: rgba($blue, 0.8);
  }

  &.active {
    color: rgba($blue, 1);
  }
}

div.quarto-title .quarto-categories .quarto-category {
  color: $blue;
  border: solid 1px $blue;
  opacity: 1;

  // &:hover {
  //   background-color: rgba($blue, 0.2);
  // }
}

.quarto-grid-item .card-title {
  color: $blue !important;
}

/*-- scss: about --*/

div.quarto-about-trestles {
  max-width: 1440px;
}

div.quarto-about-trestles .about-entity img.rounded {
  margin: 0;
}

div.quarto-about-trestles .about-contents {
  display: flex;
  text-align: left;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em !important;
}

div.quarto-about-trestles .about-entity {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em !important;
  margin: 0;
  align-content: center;
  vertical-align: middle;
} 

@media (max-width: 991px) {
  div.quarto-about-trestles .about-contents {
    display: flex;
    text-align: left;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    padding-left: 0 !important;
    padding-top: 1em;
  }
}

@media (max-width: 991px) {
  div.quarto-about-trestles .about-entity {
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-right: 0 !important;
    align-content: center;
    vertical-align: middle;
    padding: 0;
  } 
}

#a-brand-strategy-study.level1.about h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

#a-brand-strategy-study.level1.about p {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
  
@media (max-width: 991px) {
  #a-brand-strategy-study.level1.about h1 {
    text-align: center;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }
}

@media (max-width: 991px) {
  #a-brand-strategy-study.level1.about p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    max-width: 400px;
  }  
}

/*-- scss: 404 --*/

.quarto-title > h1.title {
  opacity: 0 !important;
  width: 0;
  height: 0;
}

section#section.level1.not-found {
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  max-width: 1440px;
  padding: 0;
}

section#section.level1.not-found h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1.5rem;
  /* margin: 0; */
  line-height: 1em;
}
  
section#page-not-found.level4 h4 {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Bitter", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

section#page-not-found.level4 p {
  margin-bottom: 0.5em;
}




// .quarto-listing-filter {
//   margin-bottom: 1em;
//   width: 200px;
//   margin-right: auto !important;
//   margin-left: 0 !important;
//   margin-top: 0.5rem;
// }

// @media (max-width: 767.98px) {
//   .quarto-listing-filter {
//     margin-bottom: 0rem !important;
//     margin-top: 0rem !important;
//   }
// }

// $headings-color: $body-color !default;
// $code-block-bg: darken($body-bg, 3%) !default;

// $code-color: lighten($body-color, 10%) !default;
// $code-bg: darken($body-bg, 10%) !default;

// $card-border-color: $body-color !default;
// $form-select-border-color: $body-color !default;

/*-- scss:misc--*/
