/*-- scss:defaults --*/

$white: #FFFFFF !default;
$gray-300: #EAECEC !default;
$gray-500: #BBBDBF !default;
$gray-700: #343535 !default;
$black: #050505 !default;

$blue: #2E5AA9 !default;
$brown: #574A43 !default;
$orange: #E36C2A !default;

$body-bg: $white !default;
$body-color: $black !default;

$link-color: $gray-700 !default;

$text-muted: $gray-500 !default;

$navbar-bg: $white !default;
$navbar-fg: $black !default;
$navbar-link: $blue !default;

/*-- scss:text --*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

h1.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
}

h3.no-anchor.listing-title {
  font-family: "Lora", serif;
  font-weight: 700;
}

p {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
}

span.menu-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  &:hover {
    color: rgba($black, 0.8);
  }
}

.navbar-nav .nav-link.active > span.menu-text {
    color: rgba($black, 1);
}

#quarto-announcement .quarto-announcement-content p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/*-- scss: blog --*/

main#quarto-document-content.content {
  max-width: 680px;
  justify-content: center;
  margin:0 auto;
}

#quarto-content.page-columns main.column-page, #quarto-content.page-columns main.column-page-right, #quarto-content.page-columns main.column-page-left {
  max-width: 1440px;
}

 #quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar {
  line-height: 1.5;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.8rem;
  // line-height: 1 !important;
}

a.uri.external {
  max-width: 680px;
  // These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; 
}

/*-- scss: blog --*/

div.quarto-post .thumbnail img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

div.quarto-post .body {
  margin-top: 1.1rem;
}

div.quarto-post .metadata {
  padding-top: 1rem;
}

div.listing-categories {
  margin-top: 0.6rem;
}

div.quarto-post.image-right {
  margin-bottom: 0rem;
}

@media (max-width: 767.98px) {
  .quarto-post .thumbnail {
    order: 1 !important;
  }
}

@media (max-width: 767.98px) {
  div.quarto-post .body {
    margin-top: 0rem !important;
  }
}

@media (max-width: 767.98px) {
  div.quarto-post .metadata {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}

@media (max-width: 767.98px) {
  div.navbar-container.container-fluid {
    padding-left: 0.4rem;
  }
}

/*-- scss: hover category --*/

div.quarto-post .listing-categories .listing-category {
  color: $blue !important;
  border: solid 1px $blue !important;

  &:hover {
    background-color: rgba($blue, 0.2);
  }
}

.quarto-grid-item .listing-categories .listing-category {
  color: $blue !important;
  border: solid 1px $blue !important;

  &:hover {
    background-color: rgba($blue, 0.2);
  }
}

.quarto-listing-category .category {
  // padding-bottom: 5px;

  &:hover {
    color: rgba($blue, 0.8);
  }

  &.active {
    color: rgba($blue, 1);
  }
}

div.quarto-title .quarto-categories .quarto-category {
  color: $blue;
  border: solid 1px $blue;
  opacity: 1;

  // &:hover {
  //   background-color: rgba($blue, 0.2);
  // }
}

.quarto-grid-item .card-title {
  color: $blue !important;
}





/*-- scss: trash --*/

// .quarto-listing-filter {
//   margin-bottom: 1em;
//   width: 200px;
//   margin-right: auto !important;
//   margin-left: 0 !important;
//   margin-top: 0.5rem;
// }

// @media (max-width: 767.98px) {
//   .quarto-listing-filter {
//     margin-bottom: 0rem !important; 
//     margin-top: 0rem !important;
//   }
// }

// $headings-color: $body-color !default;
// $code-block-bg: darken($body-bg, 3%) !default;

// $link-color: lighten($body-color, 30%) !default;
// $link-shade-percentage: 30% !default;
// $link-hover-color: shift-color($link-color, $link-shade-percentage) !default;

// $code-color: lighten($body-color, 10%) !default;
// $code-bg: darken($body-bg, 10%) !default;

// $card-border-color: $body-color !default;
// $form-select-border-color: $body-color !default;


// .quarto-title-meta-contents p {
//   font-family: $font-family-sans-serif;
// }

// h5.no-anchor.card-title.listing-title {
//   font-family: $font-family-sans-serif;
//   font-weight: 600;
// }

// h5.quarto-listing-category-title {
//   font-family: $font-family-sans-serif;
// }

// .quarto-title-banner .quarto-title .title {
//   color: $body-color;
// }

/*-- scss:misc--*/

// footer p {
//   font-size: 0.9rem;
//   margin-left: 0.9rem;
// }